/* Normal (upright) variable font */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900; /* variable font range */
    font-style: normal;
}
  
  /* Italic variable font */
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* same variable range, but italic */
    font-style: italic;
  }